LGR = #DDD



.typeahead,
.tt-query,
.tt-hint
  width: 622px
  height: 50px
  padding: 8px 12px
  font-size: 24px
  line-height: 30px
  /*border: 2px solid #ccc;*/
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  outline: none

.typeahead
  background-color: #fff
  padding-left: 10px !important

.typeahead:focus
  /*border: 2px solid #0097cf;*/

.tt-query
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color: #DDD !important

.tt-dropdown-menu
  width: 622px
  margin-top: 12px
  padding: 8px 0
  background-color: #fff
  /*border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);*/
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  box-shadow: 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding: 8px 12px
  font-size: 24px
  line-height: 30px
  text-align: left

.tt-suggestion.tt-cursor
  color: #fff
  background-color: #0097cf

.tt-suggestion p
  margin: 0

.sugg-box
  position: relative
  border-bottom: 0px solid #EEE
  /*min-height: 60px;*/
  overflow: hidden

.sugg-state
  /*width: 70px;*/
  top: 0px
  left: 0px
  margin-right: 20px
  float: left
  z-index: 0
  /*position: absolute;*/
  font-size: 18px
  color: #DDD
  color: #337ab7
  /*#59e;*/
  font-weight: bold

.sugg-name
  /*min-width:370px;*/
  /*margin-left: 80px;*/
  /*margin-top:15px; */
  font-size: 20px
  display: inline
  text-transform: uppercase

.sugg-type
  font-size: 70%
  color: #337ab7
  /*#59e;*/
  /*text-transform: capitalize;*/
  float: right
  /*position: absolute;*/
  top: 36px
  right: 0px
  line-height: 100%
  /*width: 70px;*/


.f-nam
  min-width: 350px
  display: inline-block
  color: #aaa
  text-align: left
  margin-right: 5px
  //text-transform: capitalize
  text-align: left
  border-bottom: 1px dotted LGR

.f-val
  min-width: 400 px
  display: inline-block
  color: black
  text-align: left
  margin-left: 5px
  //text-transform: uppercase

.search-form input
  height: 40px

.search-form select
  height: 40px
  color: #337ab7

.search-form .info
  text-transform: uppercase
  opacity: 0.5
  padding-right: 20px
  padding-left: 20px

.gov-counter
  color: #337ab7
  /*font-weight:bold;*/
  font-size: 110%

.one-tab
  min-height: 400px


#details
  margin-top: 30px
  //border-top: 1px solid LGR
  //border-bottom: 1px solid LGR
  margin-bottom:60px
  padding-top:30px
  padding-bottom:30px

#fieldTabs 
  font-size:140%

#tabsContent
  font-size:140%
  line-height:2

#pBackToSearch
  padding-top:10px

#govmap
  height:550px
  max-width:800px
  margin-left:auto
  margin-right:auto

#brand
  line-height:0.8
  padding-top:15px
  font-weight:bold

#brand-second-line
  font-size:55%
  //color:white
  font-weight:normal

#searchContainer
  display: block
  
#searchIcon
  display: none

#dataContainer
  display: none
