/*
#myinput {
}
*/
.smaller {
    font-size:90%;
    color:#aaa;
    font-family:monospace;
}

.minwidth {
    min-width:370px;
    display:inline-block;
}

#details  {
    margin-top:30px;
    /*font-size:130%;*/
}

#details p {
    margin:0;
    padding:0;
    /*display:inline;*/
}
.f-nam {
    min-width:250px;
    display:inline-block;
    color:#aaa;
    text-align:left;
    margin-right:5px;
    border-bottom: 1px dotted silver;
}

.f-val {
    min-width:400 px;
    display:inline-block;
    color:black;
    text-align:left;
    margin-left:5px;
}


